In [13]:
import selenium
import pandas as pd 
import time
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import Select
import re

### Answer 1

In [24]:
dr1=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u1='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
dr1.get(u1)
dr1.maximize_window()

In [30]:
rank=[]
name=[]
artist=[]
date=[]
view=[]
rk=dr1.find_elements_by_xpath('//div[@id="mw-content-text"]//table[3]//td[1]')
nm=dr1.find_elements_by_xpath('//div[@id="mw-content-text"]//table[3]//td[2]')
art=dr1.find_elements_by_xpath('//div[@id="mw-content-text"]//table[3]//td[3]')
vw=dr1.find_elements_by_xpath('//div[@id="mw-content-text"]//table[3]//td[4]')
dt=dr1.find_elements_by_xpath('//div[@id="mw-content-text"]//table[3]//td[5]')
for i in rk:
    if i.text is None :
        rank.append("--") 
    else:
        rank.append(i.text)
for i in nm:
    if i.text is None:
        name.append('--')
    else:
        name.append(i.text.replace("[]",''))
for i in vw:
    if i.text is None:
        view.append('--')
    else:
        view.append(i.text)
for i in art:
    if i.text is None:
        artist.append('--')
    else:
        artist.append(i.text)
for i in dt:
    if i.text is None:
        date.append('--')
    else:
        date.append(i.text)
youtube_video=pd.DataFrame({'Rank':rank,'Name':name,'Artist':artist,'Views':view,'Upload Date':date})
youtube_video

,Rank,Name,Artist,Views,Upload Date
0,1.,"""Baby Shark Dance""[23]",Pinkfong Baby Shark - Kids' Songs & Stories,9.32,"June 17, 2016"
1,2.,"""Despacito""[25]",Luis Fonsi,7.54,"January 12, 2017"
2,3.,"""Johny Johny Yes Papa""[26]",LooLoo Kids,5.71,"October 8, 2016"
3,4.,"""Shape of You""[27]",Ed Sheeran,5.46,"January 30, 2017"
4,5.,"""See You Again""[28]",Wiz Khalifa,5.26,"April 6, 2015"
5,6.,"""Bath Song""[31]",Cocomelon – Nursery Rhymes,4.51,"May 2, 2018"
6,7.,"""Learning Colors – Colorful Eggs on a Farm""[32]",Miroshka TV,4.51,"February 27, 2018"
7,8.,"""Masha and the Bear – Recipe for Disaster""[33]",Get Movies,4.46,"January 31, 2012"
8,9.,"""Uptown Funk""[34]",Mark Ronson,4.29,"November 19, 2014"
9,10.,"""Gangnam Style""[35]",Psy,4.19,"July 15, 2012"
10,11.,"""Phonics Song with Two Words""[37]",ChuChu TV,4.16,"March 6, 2014"
11,12.,"""Dame Tu Cosita""[38]",El Chombo,3.59,"April 5, 2018"
12,13.,"""Sugar""[39]",Maroon 5,3.55,"January 14, 2015"
13,14.,"""Sorry""[40]",Justin Bieber,3.47,"October 22, 2015"
14,15.,"""Roar""[41]",Katy Perry,3.43,"September 5, 2013"
15,16.,"""Counting Stars""[42]",OneRepublic,3.39,"May 31, 2013"
16,17.,"""Thinking Out Loud""[43]",Ed Sheeran,3.32,"October 7, 2014"
17,18.,"""Wheels on the Bus""[44]",Cocomelon – Nursery Rhymes,3.26,"May 24, 2018"
18,19.,"""Dark Horse""[45]",Katy Perry,3.14,"February 20, 2014"
19,20.,"""Faded""[46]",Alan Walker,3.14,"December 3, 2015"
20,21.,"""Girls Like You""[47]",Maroon 5,3.12,"May 31, 2018"
21,22.,"""Shake It Off""[48]",Taylor Swift,3.10,"August 18, 2014"
22,23.,"""Lean On""[49]",Major Lazer,3.09,"March 22, 2015"
23,24.,"""Bailando""[50]",Enrique Iglesias,3.09,"April 11, 2014"
24,25.,"""Let Her Go""[51]",Passenger,3.07,"July 25, 2012"
25,26.,"""Axel F""[52]",Crazy Frog,3.00,"June 16, 2009"
26,27.,"""Mi Gente""[53]",J Balvin,2.98,"June 29, 2017"
27,28.,"""Perfect""[54]",Ed Sheeran,2.95,"November 9, 2017"
28,29.,"""Waka Waka (This Time for Africa)""[55]",Shakira,2.94,"June 4, 2010"
29,30.,"""Hello""[56]",Adele,2.88,"October 22, 2015"

### Answer 2

In [63]:
dr2=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u2='https://www.bcci.tv/'
dr2.get(u2)
dr2.maximize_window()

In [64]:
html = dr2.find_element_by_tag_name('html')
html.send_keys(Keys.END)

In [65]:
dr2.find_element_by_xpath('//ul[@class="footer-navigation"]/li[2]//ul//li[1]//a').click()

In [66]:
time.sleep(1)
dr2.find_element_by_xpath('//button[@class="load-more-button u-center js-show-more-button js-loader"]').click()

In [70]:
html = dr2.find_element_by_tag_name('body')
html.send_keys(Keys.CONTROL + Keys.HOME)

In [114]:
matchtitl=[]
mt=dr2.find_elements_by_xpath('//div[@class="fixture__description u-unskewed-text"]//p[1]//strong')
for i in mt:
    if i.text in ['1st ODI','2nd ODI','3rd ODI']:
        matchtitl.append(i.text)

In [115]:
matchtitl

['1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st ODI',
 '2nd ODI',
 '3rd ODI',
 '1st ODI',
 '2nd ODI',
 '3rd ODI']

In [122]:
btn=dr2.find_elements_by_xpath('//div[@class="filters"]/div[3]//div[1]//div[2]//div/ul//li')

In [123]:
for i in btn:
    if i.text == 'ODI':
        i.click()

In [124]:
series=[]
place=[]
time=[]
sr=dr2.find_elements_by_xpath('//div[@class="fixture__format-strip"]//span[2]')
pl=dr2.find_elements_by_xpath('//div[@class="fixture__description u-unskewed-text"]//p//span')
tm=dr2.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]//div[1]//div//span[2]')
for i in sr:
    if i.text is None:
        series.append('--')
    else:
        series.append(i.text)
for i in pl:
    if i.text is None:
        place.append('--')
    else:
        place.append(i.text)
for i in tm:
    if i.text is None:
        time.append('--')
    else:
        time.append(i.text)

In [128]:
link=[]
ln=dr2.find_elements_by_xpath('//div[@class="event-list__list"]//a')
for i in ln:
    link.append(i.get_attribute('href'))
len(link)

9

In [129]:
date=[]
for i in link:
    dr2.get(i)
    try:
        dt=dr2.find_element_by_xpath('//div[@class="mc-header-scorebox__datetime"]/strong')
        date.append(dt.text)
    except:
        date.append('--')
len(date)

9

In [130]:
bcc_fixture=pd.DataFrame({'Match title':matchtitl,'Series':series,'Place':place,'Time':time,'Date':date})

In [132]:
bcc_fixture

,Match title,Series,Place,Time,Date
0,1st ODI,SOUTH AFRICA V INDIA 2021/2022,"Boland Park, Paarl",14:00 IST,Tuesday 11 January
1,2nd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",14:00 IST,Friday 14 January
2,3rd ODI,SOUTH AFRICA V INDIA 2021/2022,"Newlands, Cape Town",14:00 IST,Sunday 16 January
3,1st ODI,INDIA V WEST INDIES 2022,"Narendra Modi Stadium, Ahmedabad",13:00 IST,Sunday 6 February
4,2nd ODI,INDIA V WEST INDIES 2022,"Sawai Mansingh Stadium, Jaipur",13:00 IST,Wednesday 9 February
5,3rd ODI,INDIA V WEST INDIES 2022,"Eden Gardens, Kolkata",13:00 IST,Saturday 12 February
6,1st ODI,ENGLAND V INDIA 2022,"Edgbaston, Birmingham",15:30 IST,Saturday 9 July
7,2nd ODI,ENGLAND V INDIA 2022,"The Oval, London",17:30 IST,Tuesday 12 July
8,3rd ODI,ENGLAND V INDIA 2022,"Lord's, London",17:30 IST,Thursday 14 July

### Answer 3

In [133]:
dr3=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u3='https://www.guru99.com/'
dr3.get(u3)
dr3.maximize_window()

In [137]:
dr3.find_element_by_xpath('//div[@class="row featured-boxes"]/div[1]/div/ul[1]/li[3]/a').click()

In [138]:
dr3.find_element_by_xpath('//div[@class="entry-content single-content"]/table[5]//tr[34]/td/a').click()

In [139]:
name=[]
descpt=[]
nm=dr3.find_elements_by_xpath('//div[@class="entry-content single-content"]/table//tr/td[1]')
ds=dr3.find_elements_by_xpath('//div[@class="entry-content single-content"]/table//tr/td[2]')
for i in nm:
    if i.text is None:
        name.append('--')
    else:
        name.append(i.text)
for i in ds:
    if i.text is None:
        descpt.append('--')
    else:
        descpt.append(i.text)

In [140]:
except_handling=pd.DataFrame({'Name':name,'Description':descpt})
except_handling

,Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [141]:
dr3.close()

### Answer 4

In [231]:
dr4=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u4='http://statisticstimes.com/'
dr4.get(u4)
dr4.maximize_window()

In [232]:
dr4.find_element_by_xpath('//div[@class="navbar"]/div[2]/button/i').click()

In [233]:
dr4.find_element_by_xpath('//div[@class="navbar"]/div[2]/div/a[3]').click()

In [234]:
dr4.find_element_by_xpath('//ul[@style="list-style-type:none;margin-left:20px;"]/li/a').click()

In [244]:
rank=[]
state=[]
price_19_20=[]
price_18_19=[]
share=[]
gdp=[]
rk=dr4.find_elements_by_xpath('//div[@id="table_id_wrapper"]//table//tbody//tr//td[1]')
st=dr4.find_elements_by_xpath('//div[@id="table_id_wrapper"]//table//tbody//tr//td[2]')
pr=dr4.find_elements_by_xpath('//div[@id="table_id_wrapper"]//table//tbody//tr//td[3]')
pr1=dr4.find_elements_by_xpath('//div[@id="table_id_wrapper"]//table//tbody//tr//td[4]')
sr=dr4.find_elements_by_xpath('//div[@id="table_id_wrapper"]//table//tbody//tr//td[5]')
gd=dr4.find_elements_by_xpath('//div[@id="table_id_wrapper"]//table//tbody//tr//td[6]')
for i in rk:
    if i.text is None:
        rank.append('--')
    else:
        rank.append(i.text)
for i in st:
    if i.text is None:
        state.append('--')
    else:
        state.append(i.text)
for i in pr:
    if i.text is None:
        price_19_20.append('--')
    else:
        price_19_20.append(i.text)
for i in pr1:
    if i.text is None:
        price_18_19.append('--')
    else:
        price_18_19.append(i.text)
for i in sr:
    if i.text is None:
        share.append('--')
    else:
        share.append(i.text)
for i in gd:
    if i.text is None:
        gdp.append('--')
    else:
        gdp.append(i.text)

In [246]:
GDP_India=pd.DataFrame({'Rank':rank,'State':state,'GSDP at current price (19-20)':price_19_20,'GSDP at current price (18-19)':price_18_19,
                       'Share(18-19)':share,'GDP($ billion)':gdp})

In [247]:
GDP_India

,Rank,State,GSDP at current price (19-20),GSDP at current price (18-19),Share(18-19),GDP($ billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [248]:
dr4.close()

### Answer 5

In [14]:
dr5=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u5='https://github.com/'
dr5.get(u5)
dr5.maximize_window()

In [15]:
dr5.find_element_by_xpath('//nav[@class="mt-0 px-3 px-lg-0 mb-5 mb-lg-0"]/ul/li[4]//details//summary').click()

In [16]:
dr5.find_element_by_xpath('//div[@class="dropdown-menu flex-auto rounded px-0 pt-2 pb-0 mt-0 pb-4 p-lg-4 position-relative position-lg-absolute left-0 left-lg-n4"]/ul[1]/li/a').click()

In [17]:
dr5.find_element_by_xpath('//nav[@class="container-lg mx-auto p-responsive"]/div/a[3]').click()

In [18]:
name=[]

nm=dr5.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for i in nm:
    if i.text is None:
        name.append('--')
    else:
        name.append(i.text)
len(name)

25

In [19]:
despt=[]
ds=dr5.find_elements_by_xpath('//p[@class="col-9 color-text-secondary my-1 pr-4"]')
for i in ds:
    if i.text is None:
        despt.append('---')
    else:
        despt.append(i.text)

In [20]:
len(despt)

25

In [21]:
link=[]
ln=dr5.find_elements_by_xpath('//article[@class="Box-row"]/h1/a')
for i in ln:
    link.append(i.get_attribute('href'))
len(link)

25

In [34]:
lang=[]
contr=[]
for i in link:
    dr5.get(i)
    time.sleep(1)
    
    try:
        cn=dr5.find_element_by_xpath('//a[contains(text()," Contributors ")]/span')
        contr.append(cn.text)
        
    except NoSuchElementException:
        contr.append('--')

In [35]:
len(contr)

25

In [36]:
for i in link:
    dr5.get(i)
    time.sleep(1)
    
    try:
        lg=dr5.find_element_by_xpath('//li[@class="d-inline"]//span[1]')
        lang.append(lg.text)
        
    except NoSuchElementException:
        lang.append('--')

In [37]:
len(lang)

25

In [38]:
github=pd.DataFrame({'Repository title':name,'Repository description':despt,'Contributors count':contr,'Language used':lang})

In [39]:
github

,Repository title,Repository description,Contributors count,Language used
0,raywenderlich / flta-materials,The projects and the materials that accompany ...,8,Dart
1,facebook / flipper,A desktop debugging platform for mobile develo...,219,TypeScript
2,arkenfox / user.js,"Firefox privacy, security and anti-fingerprint...",18,JavaScript
3,WordPress / twentytwentytwo,"Twenty Twenty-Two, the default WordPress theme...",11,HTML
4,opencodeiiita / Collaborative-Web,Opencode 21 Collaborative website!,135,JavaScript
5,nvm-sh / nvm,Node Version Manager - POSIX-compliant bash sc...,303,Shell
6,PowerShell / PowerShell,PowerShell for every system!,386,C#
7,M2Team / NanaZip,The 7-Zip derivative intended for the modern W...,--,C++
8,lvgl / lvgl,Powerful and easy-to-use embedded GUI library ...,202,C
9,louislam / uptime-kuma,A fancy self-hosted monitoring tool,58,JavaScript
10,PrefectHQ / prefect,The easiest way to automate your data,227,Python
11,Hack-with-Github / Awesome-Hacking,A collection of various awesome lists for hack...,21,--
12,angular / angular,The modern web developer’s platform,"1,473",TypeScript
13,gnuradio / gnuradio,GNU Radio – the Free and Open Software Radio E...,268,C++
14,protocolbuffers / protobuf,Protocol Buffers - Google's data interchange f...,785,C++
15,hashicorp / boundary,Boundary enables identity-based access managem...,80,Go
16,argoproj / argo-cd,Declarative continuous deployment for Kubernetes.,527,Go
17,isometimes / rpi4-osdev,"Tutorial: Writing a ""bare metal"" operating sys...",--,C
18,trailofbits / algo,Set up a personal VPN in the cloud,156,Python
19,tristanhimmelman / ObjectMapper,Simple JSON Object mapping written in Swift,110,Swift
20,aws / jsii,jsii allows code in any language to naturally ...,72,TypeScript
21,syncthing / syncthing,Open Source Continuous File Synchronization,255,Go
22,peregrine-lang / Peregrine,A blazing fast language for the blazing fast w...,17,V
23,wireshark / wireshark,Read-only mirror of Wireshark's Git repository...,798,C
24,vapor / vapor,💧 A server-side Swift HTTP web framework.,188,Swift

### Answer 6

In [91]:
dr6=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u6='https://www.billboard.com/'
dr6.get(u6)
dr6.maximize_window()

In [92]:
dr6.find_element_by_xpath('//nav[@class="header__subnav bg--light"]/ul/li[3]').click()

In [94]:
name=[]
artist=[]
nm=dr6.find_elements_by_xpath('//div[@class="chart-list container "]/ol/li/button/span[2]/span[1]')
art=dr6.find_elements_by_xpath('//div[@class="chart-list container "]/ol/li/button/span[2]/span[2]')
for i in nm:
    if i.text is None:
        name.append('--')
    else :
        name.append(i.text)
for i in art:
    if i.text is None:
        artist.append('--')
    else :
        artist.append(i.text)

In [99]:
len(name)

100

In [98]:
len(artist)

100

In [101]:
lweek=[]
pweek=[]
wboard=[]
lw=dr6.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
pw=dr6.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
wb=dr6.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for i in lw:
    if i.text is None:
        lweek.append('--')
    else:
        lweek.append(i.text)
for i in  pw:
    if i.text is None:
        pweek.append('--')
    else:
        pweek.append(i.text)
for i in wb:
    if i.text is None:
        wboard.append('--')
    else:
        wboard.append(i.text)

In [103]:
songs_data=pd.DataFrame({'Songs name':name,'Artist name':artist,'lastweek rank':lweek,'Peak rank':pweek,'Weeks on board':wboard})

In [104]:
songs_data

,Songs name,Artist name,lastweek rank,Peak rank,Weeks on board
0,My Universe,Coldplay x BTS,-,1,1
1,Stay,The Kid LAROI & Justin Bieber,1,1,12
2,Industry Baby,Lil Nas X & Jack Harlow,2,2,10
3,Way 2 Sexy,Drake Featuring Future & Young Thug,3,1,4
4,Fancy Like,Walker Hayes,5,5,15
...,...,...,...,...,...
95,Pipe Down,Drake,68,14,4
96,Papi's Home,Drake,66,8,4
97,Chosen,Blxst & Tyga Featuring Ty Dolla $ign,-,98,1
98,Toxic Punk,YoungBoy Never Broke Again,-,99,1
99,Moon,Kanye West,76,17,5

In [105]:
dr6.close()

### Answer 7

In [258]:
dr7=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u7='https://www.naukri.com/'
dr7.get(u7)
dr7.maximize_window()

In [259]:
dr7.find_element_by_xpath('//ul[@class="midSec menu"]/li[2]/a').click()

In [260]:
dr7.window_handles

['CDwindow-650BB6C84C8DD6BFFAD18588E62324D8',
 'CDwindow-964C43229BC373605776DF5BDE59DE62']

In [261]:
dr7.switch_to.window(dr7.window_handles[1])

In [262]:
search=dr7.find_element_by_xpath('//input[@class="sugInp"]')

In [263]:
search.send_keys('Data Science')

In [264]:
dr7.find_element_by_xpath('//button[@class="fl qsbSrch blueBtn"]').click()

In [265]:
name=[]
desg=[]
company=[]
skill=[]
nm=dr7.find_elements_by_xpath('//a[@class="ellipsis"]/span')
des=dr7.find_elements_by_xpath('//span[@class="ellipsis clr"]')
com=dr7.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
sk=dr7.find_elements_by_xpath('//div[@class="hireSec highlightable"]')

for i in nm:
    if i.text is None:
        name.append('--')
    else:
        name.append(i.text)
for i in des:
    if i.text is None:
        desg.append('--')
    else:
        desg.append(i.text)  
for i in com:
    if i.text is None:
        company.append('--')
    else:
        company.append(i.text) 
for i in sk:
    if i.text is None:
        skill.append('--')
    else:
        skill.append(i.text)

In [267]:
link=[]
ln=dr7.find_elements_by_xpath('//div[@class="recImg mid_pImg_Silht"]/a')
for i in ln:
    link.append(i.get_attribute('href'))

In [268]:
len(link)

50

In [273]:
location=[]
for i in link:
    dr7.get(i)
    try:
        loc=dr7.find_element_by_xpath('//div[@class="rFrame fl infoWrapper"]/div[5]//a')
        location.append(loc.text)
    except:
        location.append('--')

In [274]:
len(location)

50

In [276]:
Recruiters_data=pd.DataFrame({'Name':name,'Designation':desg,'Company':company,'Skills they hire for':skill,'Location':location})

In [277]:
Recruiters_data

,Name,Designation,Company,Skills they hire for,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions Pvt.Ltd.,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
18,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
23,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
24,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Others
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Delhi
29,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Bengaluru / Bangalore
31,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Mysoru / Mysore
32,Ravi Dubey,Recruitment Manager,HyrEzy Talent Solutions LLP,Walmart Interra Skeps Expressstores indifi whi...,Ghaziabad
33,Radha Manivasagam,HR Executive,Techcovery,"Python, Artificial Intelligence, Machine Learn...",Bengaluru / Bangalore
34,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Noida
35,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",New Delhi
36,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Chennai
37,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Aligarh
38,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Salt Lake City
39,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Pune
40,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Bengaluru / Bangalore
41,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Mumbai
42,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Indore
43,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",Bengaluru / Bangalore
44,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",MYSORE
45,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Hyderabad / Secunderabad
46,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Bengaluru / Bangalore
47,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Mumbai
48,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",
49,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Noida

### Answer 8

In [3]:
dr8=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u8='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
dr8.get(u8)
dr8.maximize_window()

In [4]:
name=[]
a_name=[]
v_sold=[]
publish=[]
genere=[]
nm=dr8.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
anm=dr8.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
vs=dr8.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
pb=dr8.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
gn=dr8.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for i in nm:
    if i.text is None:
        name.append('--')
    else:
        name.append(i.text)
for i in anm:
    if i.text is None:
        a_name.append('--')
    else:
        a_name.append(i.text)
for i in vs:
    if i.text is None:
        v_sold.append('--')
    else:
        v_sold.append(i.text)
for i in pb:
    if i.text is None:
        publish.append('--')
    else:
        publish.append(i.text)
for i in gn:
    if i.text is None:
        genere.append('--')
    else:
        genere.append(i.text)

In [5]:
len(name)

100

In [7]:
novels=pd.DataFrame({'Books name':name,'Author name':a_name,'Volume sold':v_sold,'Publisher':publish,'Genre':genere})

In [8]:
novels

,Books name,Author name,Volume sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [9]:
dr8.close()

### Answer 9

In [10]:
dr9=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u9='https://www.imdb.com/list/ls095964455/'
dr9.get(u9)
dr9.maximize_window()

In [14]:
name=[]
year=[]
genre=[]
runtime=[]
rating=[]
vote=[]
nm=dr9.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
yr=dr9.find_elements_by_xpath('//h3[@class="lister-item-header"]/span[2]')
gn=dr9.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[5]')
rn=dr9.find_elements_by_xpath('//div[@class="lister-item-content"]/p[1]/span[3]')
rt=dr9.find_elements_by_xpath('//div[@class="ipl-rating-star small"]/span[2]')
vt=dr9.find_elements_by_xpath('//div[@class="lister-item-content"]/p[4]/span[2]')
for i in nm:
    name.append(i.text)
for i in yr:
    year.append(i.text)
for i in gn:
    genre.append(i.text)
for i in rn:
    runtime.append(i.text)
for i in rt:
    rating.append(i.text)
for i in vt:
    vote.append(i.text)

In [18]:
len(year)

100

In [19]:
tv_series=pd.DataFrame({'Name':name,'Year span':year,'Genre':genre,'Run time':runtime,'Rating':rating,'Votes':vote})

In [20]:
tv_series

,Name,Year span,Genre,Run time,Rating,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,881,322"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"914,879"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"903,577"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"270,786"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"231,159"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,862"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"56,736"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"177,125"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"36,849"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"202,975"

In [21]:
dr9.close()

### Answer 10

In [23]:
dr10=webdriver.Chrome(r'F:\Python\chromedriver.exe')
u10='https://archive.ics.uci.edu/ml/index.php'
dr10.get(u10)
dr10.maximize_window()

In [24]:
dr10.find_element_by_xpath('//table[@bgcolor="#003366"]//tr/td[2]/span[2]/a').click()

In [39]:
name=[]
typ=[]
tsk=[]
attype=[]
noints=[]
noattr=[]
year=[]
nm=dr10.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[1]')
ty=dr10.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[2]')
ts=dr10.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[3]')
att=dr10.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[4]')
nis=dr10.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[5]')
natt=dr10.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[6]')
yr=dr10.find_elements_by_xpath('//table[@border="1"]/tbody/tr/td[7]')
for i in nm[1:]:
    if i.text is None:
        name.append('none')
    else :
        name.append(i.text)
for i in ty[1:]:
    if i.text is None:
        typ.append('none')
    else :
        typ.append(i.text)
for i in ts[1:]:
    if i.text is None:
        tsk.append('none')
    else :
        tsk.append(i.text)
for i in att[1:]:
    if i.text is None:
        attype.append('none')
    else:
        attype.append(i.text)
for i in nis[1:]:
    if i.text is None:
        noints.append('none')
    else :
        noints.append(i.text)
for i in natt[1:]:
    if i.text is None:
        noattr.append('none')
    else :
        noattr.append(i.text)
for i in yr[1:]:
    if i.text is None:
        year.append('none')
    else:
        year.append(i.text)

In [38]:
len(noattr)

588

In [40]:
datasets=pd.DataFrame({'Dataset name':name,'Data type':typ,'Task':tsk,'Attribute type':attype,'No of instance':noints,'No of attribute':noattr,'Year':year})

In [41]:
datasets

,Dataset name,Data type,Task,Attribute type,No of instance,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021